@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
.header{
    background-color: rgba(219, 146, 133, 0.493);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px ;
}
.logo{
    width: 200px; font-family: 'Odibee Sans', cursive;
}
.logoOne{
    color: #f54400;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block; 
    list-style:none ;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #f54400;
}
.container{
    max-width: 1300px;
    margin: auto; padding-left: 25px;
    padding-right: 25px;

}
.row{
    display: flex;
    align-items: center; flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 50px; margin: 20px 0;
}
.btn{
    display: inline-block;
    background: #f54400;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}

/* catagories */

.catagories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 25%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.col-3:hover{
    transform: translateX(-10px);
}
/* features products */

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px; 
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height:60px ;
    font-size: 30px;
    color: #555;
}

.title::after{
    content: " ";
    background: hsl(7, 100%, 47%);
    width: 80px;
    height: 5px; 
    position: absolute; 
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);

}

h4{
    color: #555; font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating, .fas{
   color: rgba(189, 160, 0, 0.89);
}

.col-4:hover{
    transform: translateY(-10px);

}

/* offer */
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 60px; padding: 30px 0;
}
.col-2 .offer-img{
    padding: 40px;
}
small{
    color: #555;
    font-size: 20px;
}
/* testimonials */
.testimonials{
    padding-top: 100px;
}
.testimonials .col-3{
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
} 

.testimonials .col-3 img{
    width: 80px;
    margin-top: 20px;
    border-radius: 30%;
}
.fas.fa-quote-left{
    font-size: 30px; color: #f54400;
}
.col-3 p{
    font-size: 14px; color: #777; margin: 12px 0;
}

/* brands */
.brands{
    margin: 100px auto;
}
.col-5 {
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0)
}


/* footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, 
.footer-col-4{
    min-height: 150px; 
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1; text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.appTitle{
    font-size: 30px;
}
.app-logo{
    margin-top: 20px ;
}
.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px; margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px; 
    margin-left: 20px;
    display: none;
}
/* all products */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
.page-btn{
     margin: 0 auto 50px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: white;
}
select:focus{
   outline: none;
}
.title-2{
    color:#ff523b;
}
/* media query for menu */
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: rgba(41, 37, 37, 0.637);
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* media query less than 600 screen size */
@media only screen and (max-width:800px) {
     .row{
         text-align: center;
         align-items: center;
     }
     .col-2, .col-3, .col-4{
         flex-basis: 100%;
     }
}

h4{
    text-align: center;
}
.ratings, .fas{
    text-align: center;
}
.btn-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-price p{
    font-size: 20px;
}
.btn-buy{
    background: #ff523b;
    color: white;
    font-weight: 600;
    border: none; padding: 5px; 
    border-radius: 5px; cursor: pointer; 
    transition: background 0.5s;
}
.btn-buy:hover{
    background: #563434;
    /* color: black; */
}